$warning: #ff6f00;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.row {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px;
}

img {
  border: 1px solid black;
}

.hidden {
  color: transparent;
  background: #515151;
}
.flagged {
  background-color: green;
  color: transparent;
}
.bomb {
  background-color: red;
}
.zero {
    background-color: lighten($warning, 45%);
    color: transparent;
}
.one {
  background-color: lighten($warning, 35%);
}
.two {
  background-color: lighten($warning, 30%);
}
.three {
  background-color: lighten($warning, 25%);
}
.four {
  background-color: lighten($warning, 20%);
}
.five {
  background-color: lighten($warning, 15%);
}
.six {
  background-color: lighten($warning, 10%);
}
.seven {
  background-color: lighten($warning, 5%);
}
.eight {
  background-color: $warning;
}

.app {
  height: 100%;
}

.main {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.sidebarWrap {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #222;
  padding: 5px;
  border: 1px solid #888;
  color: $warning;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  section {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      flex-direction: row;
    }
    .tile_instruction {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    button {
      margin: 0 auto;
      width: 50px;
      background-color: #222;
      border: 1px solid #888;
      color: $warning;
    }
    button.active {
      background-color: $warning;
      color: #222;
      border: 1px solid #222;
    }
  }
  hr {
    width: 100%;
    color: #888;
  }
}

.howto {
  text-align: left;
}

.GameBoard {
  width: 840px;
  margin: 0 auto;
}

.instructions {
  color: white;
  width: 25%;
}

// Slider Styling

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 2px;
  background-color: #222;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $warning;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}